
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  
  color: #000000;
  background-image: "logo.svg";

}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}

.HomeBackground {
  background-color: #A4A5AE;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000000;
}

.quiz_selection_widget {
  background-color: #B0C7BD;
  border-radius: 25px;
  box-shadow: 0 2.98256px 7.4564px 5px #0000001a;
  margin-block: 5vh;
  min-height: 30vh;
  min-width: 125vh;
  padding: 5vh 5vw;
  width: 80%;
}

.text-content {
  align-items: center;
  column-gap: 10vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.choice-card {
  border-radius: 25px;
  box-shadow: 0 2.98256px 7.4564px 5px #0000001a;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: center;
  margin-top: 5%;
  padding: 1vh;
  transition: .5s;
  width: 50vh;
  max-width: 40vh;
}

.Results-choice-card {
  background-color: #B0C7BD;
  border-radius: 25px;
  box-shadow: 0 2.98256px 7.4564px 5px #0000001a;
  margin-block: 5vh;
  min-height: 25vh;
  max-width: 25vh;
  padding: 5vh 5vw;
  width: 50%;

}

.nav-buttons button {
  background-color: #B8EBD0;
  color: #2B3A67;
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 0 5px;
}

.nav-buttons button:nth-child(2) {
  background-color: #63C7B2;
}

.nav-buttons button:hover {
  background-color: #B8EBD0; 
}

.inspired-by {
  text-align: right;
  font-style: italic;
  margin-top: 20px;
  color: #B3B3B3;
  font-size: 0.9rem;
}

.inspired-by span {
  font-weight: bold;
  color: #2B3A67;
}
